body {
    background: #FCFDFE;
}

.capitalise {
    text-transform: capitalize;
}

h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

nav {
    display: inline;
}

li {
    display: inline;
    margin-left: 20px;
    color: rgb(252, 250, 250);
}

li a {
    color: rgb(252, 250, 250);
    margin-top: 10px;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}


}
.chefs-hat {
    height: auto;
    width: 1rem;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav-style {
    background-color: #5680E9;
    border-top: 30px;
}
.container-fluid-recipe {
    margin: 0px 30px
}
.card-title {
    font-size: 5em;
}
.no-padding {
    padding: 0px
}
.recipe-name {
    color: black;
}
.btn {
    margin-top: 0px;
    margin-bottom: 10px;
}
.nav-ingredients {
    margin-left: 10px;
}
.single-recipe-image {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
.width100 {
    width: 100%;
}

/*Media Queries        */
@media (min-width:576px) and (max-width:2000px) {
    .hide-on-more-than-576px {
        display: none;
    }
}
@media (min-width:1px) and (max-width:575px) {
    .hide-on-less-than-576px {
        display: none;
    }
}
.textarea instructions {
    white-space: pre-wrap;
}
.list-item {
    margin-left: 15px;
}
.edit-area {
    margin: 15px;
}
.card {
    margin: 10px;
    height: 100%;
}
.recipe {
    margin-bottom: 10px;
}
.back-button {
    color: yellow;
    border: 0px;
    padding: 10px;
}
.container {
    padding: 10px 30px;
}