{% extends 'base.html'%} {% block content %}
<title>Add cuisine</title>
<div class="container">
    <h3>Add Cuisine</h3>
    <div class="row">



        <form action="{{ url_for('insert_cuisine') }}" method="POST" class="col s12">



            <div class="no-gutter col-sm-6 col-md-3 col-lg-2">
                <label for="cuisine_name">Cuisine Name:</label>
                <input type="text" class="form-control capitalise" name="cuisine_name" id="cuisine_name" placeholder="Enter cuisine name" required>
            </div>
            <button class="btn btn-sm btn-success" type="submit" name="action">Add Cuisine</button>
    </div>
</div>
</form>
</div>
{% endblock %}