{% extends 'base.html'%} {% block content %}
<div class="row">
    <button onclick="goBack()" class="back-button"><i class="fas fa-chevron-left"></i></button>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Cuisines</h1>
            <form method=POST action="{{ url_for('insert_cuisine') }}" class="needs-validation" novalidate>
                <div class="form-group">
                    <div class="row">
                        <div class="input-field col s6">
                            New cuisine name:
                            <input type="text" class="form-control capitalise" required aria-required="true" name="cuisine_name" id="cuisine_name" placeholder="Cuisine name">
                            <div class="invalid-feedback">
                                Please enter your cuisine name
                            </div>
                        </div>
                    </div>
                </div>
                {% for cuisine in cuisines %}
                <p>{{ cuisine.cuisine_name.title() }}</p>
                {% endfor %}
                <div class="row">
                    <div class="input-field col s6">
                        <button type="submit" class="btn btn-primary btn-block"><i class="far fa-plus-square"></i> Add new cuisine</button>

                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>

{% endblock %}