{% extends 'base.html' %}
<title>{% block title %}The Page Title{% endblock %}</title>{% block content %} {% with message = get_flashed_messages() %} {% if messages %} {% for message in messages %}
<h3>{{ message }}</h3>
{% endfor %} {% endif %} {% endwith %}


<form action="{{url_for('search_recipes')}}" method="POST">
    <input id="search" name="search" class="form-control mr-sm-2" type="search" placeholder="Find a recipe" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<h1>Image goes here!</h1>
{% endblock %}