{% extends 'base.html' %}
<title>{% block title %}The Page Title{% endblock %}</title>{% block content %} {% with message = get_flashed_messages() %} {% if messages %} {% for message in messages %}
<h3>{{ message }}</h3>
{% endfor %} {% endif %} {% endwith %}


<div class="container welcome">
    <img src="https://cdn.pixabay.com/photo/2015/03/26/09/42/breakfast-690128_1280.jpg" alt="Snow" style="width:100%;">
    <div class="welcome-message">Welcome to the World Community Cookbook</div>

</div>
{% endblock %}