{% extends 'base.html' %}
<title>{% block title %}The Page Title{% endblock %}</title>
{% block content %} {% with message = get_flashed_messages() %} {% if messages %} {% for message in messages %}
<h3>{{ message }}</h3>
{% endfor %} {% endif %} {% endwith %}

<h1>Find a recipe</h1>

<div class="row form-group">
    <form class="col-md-6" action="{{ url_for('search') }}" method="POST">
        <input type="text" id="query" name="query" minlength="3" class="form-control" placeholder="Enter your search term" aria-label="Search" aria-describedby="button-addon2" class="validate">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search <i class="fas fa-search"></i></button>
        </div>
    </form>
</div>


{% endblock %}