{% extends 'base.html' %}{% block content %}
<div class="row sticky">
    <a href="{{url_for('index')}}" class="back-button"><i class="fas fa-chevron-left"></i></a>
</div>
<div class="container">

    <h1>Cuisine Admin</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="{{url_for('cuisines')}}" class="btn btn-primary btn-block">Cuisines</a>
            </div>
            <div class="col-md-6">
                <div class="row admin-row">
                    Click here to add edit or delete a cuisine type
                </div>
            </div>

            <div class="col-md-6">
                <a href="#" class="btn btn-primary btn-block">Meal Types</a>
            </div>
            <div class="col-md-6">
                <div class="row admin-row">
                    Click here to add edit or delete a meal type
                </div>
            </div>

            <div class="col-md-6">
                <a href="#" class="btn btn-primary btn-block">Meal Types</a>
            </div>
            <div class="col-md-6">
                <div class="row admin-row">
                    Click here to add edit or delete a meal type
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}