{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="{{recipes.image_src}}" class="single-recipe-image" alt="Picture of {{recipes.recipe_name}}">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <h3>{{recipes.recipe_name.title()}}</h3>
            </div>
        </div>
    </div>



    <div class="container-fluid display">

        <nav>
            <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-ingredients" role="tab" aria-controls="nav-ingredients" aria-selected="true">
                    <h4>Ingredients</h4>
                </a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-instructions" role="tab" aria-controls="nav-instructions" aria-selected="false">
                    <h4>Instructions</h4>
                </a>

            </div>
        </nav>

        <div class="container">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active nav-ingredients" id="nav-ingredients" role="tabpanel" aria-labelledby="nav-home-tab">Enter each of your ingredients on a new line:{% for object in recipes.ingredients %}
                    <div>{{ object }}</div>
                    {% endfor %}</div>
                <div class="tab-pane fade" id="nav-instructions" role="tabpanel" aria-labelledby="nav-profile-tab">{% for object in recipes.instructions %}
                    <p>{{ object }}</p>
                    {% endfor %}</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}